* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Futura", Futura, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/*=====================HEADER - NAV========================*/

h1 {
    position: fixed;
    font-size: 1.9rem;
    padding: 10px;
    margin: 0;
    left: 15px;
    top: 10px;
    z-index: 5;
}

h1 a {
      color: #000000;
      text-decoration: none;
  }

h1 a:hover {
    color: #ABB2B9;
}

header {
    height: 600px;
    background-color: #EAECEE;
}

nav {
    position: relative;
    height: 365px;
}

[class|=nav]  {
    text-align: center;
    font-size: 1.3rem;
    color: #000000;
    padding-top: 80px;
    position: absolute;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    transition: .8s;
    transition-timing-function: ease-in-out;
    background-color: #FFDD30;
}

[class|=nav] a {
    text-decoration: none;
    color: #FFDD30;
}

.nav-portfolio {
    top: 180px;
    left: 42%;
}

.nav-about {
    top: 280px;
    left: 11%;
}

.nav-contact {
    top: 280px;
    left: 71%;
}

[class|=nav]:hover {
    background-color: #000000;
    color: #FFDD30;
    transition:  .1s;
}

[class|=nav] a:hover {
    color: #FFDD30;
}

.phone {
    position: absolute;
    right: -70px;
    top: 125px;
    font-size: 1.01rem;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition:  .7s;
}

h3 {
    font-weight: normal;
    margin: 10px 0;
}

h3 a{
    text-decoration: none;
    color: inherit;
}

.side-tab {
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 30px;
    border-radius:100%;
    right: 18px;
    z-index: 10;
}

.side-tab img {
    position: absolute;
    height: 48px;
    left: 9px;
    top: 5px;
}

.side-tab:hover {
    background-color: #ABB2B9;
}

/*=====================SECTION - ABOUT=======================*/

section {
    background-color: #FFDD30;
    position: relative;
    margin-bottom: 30px;
}

section div {
    padding: 70px 70px 0;
    font-size: 1.2rem;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
}

.icons {
    margin: 0 auto;
    width: 80%;
    padding: 25px;
}

.icons div {
    display: inline-block;
    width: 13%;
    height: 100%;
    padding: 0;
}

section img {
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

/*=====================MAIN - PORTFOLIO========================*/

main {
    width: 100%;
    padding: 80px 0;
    position: relative;
}

.portfolio-box {
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    justify-content: space-around;
}

article {
    width: 20%;
    min-width: 285px;
    max-width: 350px;
    min-height: 300px;
    margin: 15px;
}

.img-holder {
    position: relative;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}

.txt-holder {
    display: block;
    width: 95%;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.15rem;
    overflow: hidden;
    height: 85px;
}

.txt-holder p {
    font-size: .85rem;
}

main img {
    width: 100%;
}

/*=====================FOOTER - CONTACT========================*/

footer {
    background-color: #FFDD30;
    font-size: 1.1rem;
    overflow: auto;
    overflow-y: hidden;
}

.contact-box {
    display: inline-block;
    vertical-align: top;
    line-height: 1.4rem;
    padding: 50px 50px 50px 150px;
    width: 49%;
    margin: 0 auto;
 }

.contact-head {
    margin-bottom: 15px;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    color: #ABB2B9;
}

.cmsLogin {
    float: right;
    font-size: .9rem;
}

/*=====================ANIMATIONS========================*/

.slideHidden {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    transition: .5s  ease-in-out;
    color: #ffffff;
    font-size: 2rem;
    overflow: hidden;
}

.slideUp {
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.85);
}

.linkBox{
    font-size: 1.3rem;
    float: left;
    width: 50%;
    height: 100%;
    padding: 30% 10% 20% 10%;
    text-align: center;
}

.linkBox a{
    color: #ffffff;
    text-decoration: none;
}

.linkBox a:hover{
color: #FFDD30;

}

/*=====================RESPONSIVE========================*/

@media screen and (max-width: 1200px){

    article {
    width: 30%;
    }

    .icons div {
        width: 18%;
    }

}

@media screen and (max-width: 900px){

    article {
        width: 49%;
    }

}

@media screen and (max-width: 730px){

    .contact-box {
        width: 100%;
        padding: 30px;
    }

    .nav-portfolio {
        top: 120px;
        left: 28%;
    }

    .nav-about {
        top: 220px;
        left: 2%;
    }

    .nav-contact {
        top: 220px;
        left: 52%;
    }

    article {
        width: 100%;
    }

    .txt-holder {
        padding: 10px;
        margin-top: -15px;
    }

    .phone {
       left: 50px;
        top: 500px;
        -ms-transform: rotate(-0deg);
        -webkit-transform: rotate(-0deg);
        transform: rotate(-0deg);
    }

    section div {
        padding: 70px 20px 0;
    }

}
