* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Futura", Futura, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.project_form {
    display: block;
    background-color: lightgrey;
}