* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Futura", Futura, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/*=====================HEADER - NAV========================*/

h1 {
    position: fixed;
    font-size: 2rem;
    padding: 10px;
    margin: 0;
    left: 10px;
    top: 10px;
    z-index: 5;
}

h1 a {
      color: #000000;
      text-decoration: none;
  }

h1 a:hover {
    color: #ABB2B9;
}

header {
    height: 450px;
}

nav {
    position: relative;
    height: 365px;
}

[class|=nav]  {
    text-align: center;
    font-size: 1.3rem;
    color: #ABB2B9;
    padding-top: 80px;
    position: absolute;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    transition: .8s;
    transition-timing-function: ease-in-out;
    background-color: #ABB2B9;
}

[class|=nav] a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-portfolio {
    top: 60px;
    left: 45%;
}

.nav-about {
    top: 160px;
    left: 15%;
}

.nav-contact {
    top: 160px;
    left: 75%;
}

[class|=nav]:hover {
    background-color: #212F3D;
    color: #FFFFFF;
    transition:  .1s;
}

[class|=nav] a:hover {
    color: #FFFFFF;
}

.phone {
    float: right;
    margin-right: 20px;
    font-size: 1.1rem;
}

h3 {
    font-weight: normal;
    margin: 5px 0;
}

.side-tab {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 80px;
    border-radius: 5px;
    right: 18px;
    z-index: 10;
}

.side-tab img {
    position: absolute;
    left: 7px;
    top: 6px;
}

.side-tab:hover {
    background-color: #ABB2B9;
}

/*=====================SECTION - ABOUT=======================*/

section {
    min-height: 390px;
    background-color: #EAECEE;
    position: relative;
}

section div {
    padding: 70px 0 0;
    font-size: 1.5rem;
    line-height: 150%;
    overflow: auto;
    margin: 0 auto;
    width: 90%;
}

.icons {
    margin: 0 auto;
    padding: 20px;
}

.icons div {
    display: inline-block;
    width: 19%;
    height: 100%;
}

section img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

/*=====================MAIN - PORTFOLIO========================*/

main {
    width: 100%;
    overflow: auto;
}

.portfolio-box {
    width: 1700px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 80px;
}

article {
    height: 400px;
    width: 33%;
    float: left;
    margin-bottom: 65px;
}

.img-holder {
    width: 390px;
    height: 260px;
    margin: 0 auto;
}

.txt-holder {
    width: 390px;
    height: 150px;
    margin: 0 auto;
    font-size: 1.1rem;
}

main img,
.portfolio-video {
    width: 100%;
    height: 100%;
}

/*=====================FOOTER - CONTACT========================*/

footer {
    background-color: #EAECEE;
    font-size: 1.6rem;
    line-height: 150%;
}

.contact-box {
    display: inline-block;
    vertical-align: top;
    padding: 50px 50px 50px 150px;
    width: 49%;
    margin: 0 auto;
     font-size: 1.6rem;
 }

.contact-head {
    font-size: 1rem;
    margin-bottom: 15px;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    color: #ABB2B9;
}

/*=====================RESPONSIVE========================*/

@media screen and (max-width: 1400px){

    .portfolio-box {
        width: 950px;
    }
    article {
        width: 50%;
    }

}

@media screen and (max-width: 900px){

    .portfolio-box {
        width: 850px;
    }

    .icons div {
        width: 18%;
    }

    section img {
        height: 75px;
        width: 75px;
    }

}

@media screen and (max-width: 730px){

    .contact-box {
        width: 100%;
        padding: 30px;
    }

    .nav-portfolio {
        left: 28%;
    }

    .nav-about {
        left: 2%;
    }

    .nav-contact {
        left: 52%;
    }

    .portfolio-box {
        width: 400px;
    }

    article {
        width: 100%;
    }

    section img {
        height: 50px;
        width: 50px;
    }

    .txt-holder {
        padding: 10px;
        margin-top: -15px;
    }

}
