* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/*=====================HEADER - NAV========================*/

h1 {
    position: fixed;
    font-size: 2rem;
    padding: 10px;
    margin: 0;
    left: 10px;
    top: 10px;
    z-index: 5;
}

h1 a {
      color: #000000;
      text-decoration: none;
  }

h1 a:hover {
    color: #ABB2B9;
}

header {
    height: 500px;
}

nav {
    position: relative;
    height: 350px;
}

[class|=nav]  {
    text-align: center;
    font-size: 1.3rem;
    color: #ABB2B9;
    padding-top: 80px;
    position: absolute;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    transition: .8s;
    transition-timing-function: ease-in-out;
    background-color: #ABB2B9;
}

[class|=nav] a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-portfolio {
    top: 60px;
    left: 45%;
}

.nav-about {
    top: 160px;
    left: 15%;
}

.nav-contact {
    top: 160px;
    left: 75%;
}

[class|=nav]:hover {
    background-color: #212F3D;
    color: #FFFFFF;
    transition:  .1s;
}

[class|=nav] a:hover {
    color: #FFFFFF;
}

.phone {
    float: right;
    margin-right: 20px;
    font-size: 1.1rem;
}

h3 {
    margin: 5px 0;
}

.side-tab {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 80px;
    border-radius: 5px;
    right: 0;
    z-index: 10;
}

.side-tab img {
    position: absolute;
    left: 7px;
    top: 6px;
    /*margin: 0 auto;*/
}

.side-tab:hover {
    background-color: #ABB2B9;
}

/*=====================SECTION - ABOUT=======================*/

section {
    min-height: 390px;
    position: relative;
}
.cloud-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background-size: cover;
    z-index: -1;
}

section div {
    padding: 70px 0 0;
    font-size: 1.5rem;
    overflow: auto;
}

/*=====================MAIN - PORTFOLIO========================*/

main {
    overflow: auto;
  padding-top: 60px;
}

main div {
    width: 1600px;
    overflow: auto;
    margin: 0 auto;
    padding: 30px;
}

article {
    height: 500px;
    width: 450px;
    float: left;
    margin: 10px;
}

article div {
    width: 410px;
    height: 260px;
    margin: 0 auto;
    background-color: #EAECEE;
}

main img {
    width: 400px;
    height: 250px;
}

/*=====================FOOTER - CONTACT========================*/

footer {
    background-color: #EAECEE;
}

.contact-box {
    display: inline-block;
    vertical-align: top;
     padding: 50px 50px 50px 150px;
    width: 40%;
    margin: 0 auto;
     /*margin: 50px 50px 50px 200px;*/
     font-size: 1.6rem;
 }

footer div {
    font-size: 1.8rem;
}

.contact-head {
    font-size: 1.2rem;
}

/*=====================RESPONSIVE========================*/

@media screen and (max-width: 1000px){
    .contact-box {
        margin-left: 100px;
    }

}

@media screen and (max-width: 900px){
    .contact-box {
        margin-left: 50px;
    }

}

@media screen and (max-width: 500px){
    .nav-portfolio {
        left: 28%;
    }

    .nav-about {
        left: 2%;
    }

    .nav-contact {
        left: 52%;
    }

}
